.header{
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5vh;
    min-height: 80px;
    border-bottom: 1px ridge rgba(255, 0, 0, 0.308);
}

.main{
    background-color: rgba(0, 102, 128, 0.315);
    display: flex;
}
.calc{
    background-color: aliceblue;
    flex:1;
    height: fit-content;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.guide{
    background-color: aliceblue;
    flex:1;
}

.mainCalc{
    background-color:cadetblue;
    border-radius: 24px;
    margin-top: 30px;
    width: 450px;
    height: 496px;
}
#textBox{
    margin: 30px;
    height: 45px;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.678);
}
.keysBoard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: cadetblue;
    height: 70%;
    width: 82%;
    margin-left: 30px;
    border-radius: 10px;
    gap: 3px
}
.keys{
    text-align: center;
    background-color: azure;
    border-radius: 30px;
    vertical-align: baseline;
    font-size: 20px;
}
